.perso-cards {
  background-color: white;
  padding: 20px;
  font-family: 'Nunito Sans', sans-serif;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.perso-cards ul {
  list-style-type: none;
}

.bold {
  font-weight: 900;
  font-size: 20px;
}

.person-objects {
  margin: 20px 15px 0px 15px;
}
