<div class="banner">
  <div class="banner-content">
    <h1>Used toothbrush, obsolete Bongo or broken flip-flops...</h1>
    <p>Borrows your dreams' objects in 3 clicks</p>
    <a class="btn navbar-wagon-button">HopHop Borrow</a>
  </div>
</div>
