<div class="banner">
  <div class="banner-content">
  <h1 class='slideRight' >Used toothbrush, obsolete Bongo or broken flip-flops...</h1>
    <p class='slideRight'>Borrows your dreams' objects in 3 clicks</p>
    <%= link_to "Borrow", items_path, class: "btn banner-wagon-button" %>
  </div>
</div>
