
<div id="footer">
  <div class="share-links">
    <a href="https://www.facebook.com/RetroPixelStuff/" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/Sale_Con" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="mailto:info@unborrowable.you" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="http://candybox2.net/" class="share-link bg-text">
      <i class="fa fa-gamepad"></i>
    </a>
  </div>
</div>

