Hello <%= @booking.user.fullname %>,

<p>
  You have found your dream object (<%= @booking.item.name %>) and you borrowed it on Unborrowable!
  <strong>Kind regards, The Unborrowable team</strong>
</p>
