<%= render "shared/banner"%>

<div class="home-description" >
  <div>
    <h1 class="fancy-title">
      Finds and lends the impossible
    </h1>
  </div>
  <div>
    <h2 class="fancy-subtitle">
      Cheap, dirty and secured
    </h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="home-card">
        <span class="fa fa-search" aria-hidden="true" style="font-size: 35px;">
        </span>
        <h3>
          Find your secret phantasies easily in a large range of offers
        </h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="home-card">
        <span class="fa fa-credit-card-alt" aria-hidden="true" style="font-size: 35px;">
        </span>
        <h3>
          Cheap and useless. Find happiness for almost nothing
        </h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="home-card">
        <span class="fa fa-shield" aria-hidden="true" style="font-size: 35px;">
        </span>
        <h3>
          Rent and borrow your dreams' stuffs safely
        </h3>
      </div>
    </div>
  </div>
</div>
</div>
