<%= render "shared/banner"%>

<div class="home-description" >
  <div><h1 class="fancy-title">Finds and lends the impossible</h1></div>
  <div><h2 class="fancy-subtitle">Cheap, dirty and secured</h2></div>
</div>
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" >
      <divclass="fa fa-search" aria-hidden="true"> <div>Find your secret phantasies easily in a large range of offers</div>
    </div></div>
    <div class="col-xs-12 col-sm-6 col-md-4" >
      <div class="fa fa-credit-card-alt-large" aria-hidden="true">Cheap and useless. Find happiness for almost nothing</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" >
      <div class="fa fa-shield-large" aria-hidden="true">Rent and borrow your dreams' stuffs safely</div>
    </div>
  </div>
</div>
