html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.wrapper h1{
  color:  #47361E;
  font-size: 35px;
  font-weight:200;
  font-family: 'IM Fell DW Pica SC', serif;
}

.content {
  padding-bottom: 7em;
}

