html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper{
  position:relative;
  min-height: 100%;
  width: 100%;
  background-color: #FDECDA;
}

.wrapper h1{
  color: #47361E;
  font-size: 55px;
  font-weight: 200;
  font-family: 'IM Fell DW Pica SC', serif;
  padding: 10px 0;
}

.content {
  padding-bottom: 7em;
}

.app-wagon-button {
  // margin-left:40%;
  // margin-right:40%;
  // display:block;
  margin-top:50px;
  margin-bottom:0%;
  padding: 0 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  color:  #47361E;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  border: 2px solid #CDAA75;
}

.app-wagon-button:hover {
  color: #47361E;
  background:  rgba(253, 236, 218, 0.8);
  border-color: #CDAA75;
  text-decoration: none;
}

.button-container{
  margin-top: 40px;
}
