 <%= link_to "Add item", new_item_path  %>

 <div class="wrapper">
   <div class="text-center"><h1>Our stuff</h1></div>
   <div class="container">
   <% @items.each do |item| %>
    <div class="row">
      <div class ="col-xs-12  col-sm-6 col-md-3" >
        <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path item.photo, height: 200, width: 300, crop: :scale ; %>')">
        <div class="card-category">Trending</div>
        <div class="card-description">
          <h2><%= link_to item_path(item) do %> <%= item.name %> <% end %></h2>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
zefhbeajhzb

